.gallery {
  padding: 40px 20px;
  background: #0f0f0f;
  overflow: hidden;

  opacity: 0;
  transform: translateY(80px);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.gallery.visible {
  opacity: 1;
  transform: translateY(0);
}

.gallery__container {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  text-align: center;
}

.gallery__title {
  font-size: 42px;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;

  background: linear-gradient(
    90deg,
    #ffd12b 0%,
    #d4af37 40%,
    #d4af37 60%,
    #6e6d6d 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery__slider {
  position: relative;
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
}

.gallery__slider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;

  transform: translate(-50%, -50%);
  background: #d4af37;

  filter: blur(60px);
  opacity: 0.12;

  z-index: 0;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.85);

  width: 55%;
  transition:
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s ease;

  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.gallery__slide img {
  width: 100%;
  height: 340px;
  object-fit: cover;
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
}

.active {
  transform: translateX(-50%) scale(1);
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
}

.active img {
  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.8),
    0 0 30px rgba(212, 175, 55, 0.25);
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.prev {
  transform: translateX(-90%) scale(0.85);
  z-index: 4;
  opacity: 1;
}
.next {
  transform: translateX(-10%) scale(0.85);
  z-index: 4;
  opacity: 1;
}
.farPrev {
  transform: translateX(-140%) scale(0.7);
  z-index: 3;
  opacity: 1;
}
.farNext {
  transform: translateX(40%) scale(0.7);
  z-index: 3;
  opacity: 1;
}
.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(0.6) !important;
}


.gallery__fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.gallery__fullscreen img {
  max-width: 90%;
  max-height: 90%;
}

.gallery__close {
  position: absolute;
  top: 30px;
  right: 40px;

  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.gallery__button {
  position: relative;
  padding: 14px 34px;
  border-radius: 30px;

  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;

  color: #d4af37;
  background: transparent;

  border: 1px solid rgba(212, 175, 55, 0.4);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 20px;
}

.gallery__button::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(212, 175, 55, 0.4),
    transparent
  );

  opacity: 0;
  transition: 0.4s;
}

.gallery__button:hover::before {
  opacity: 1;
}
.gallery__button:hover {
  color: #000;
  background: #d4af37;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(212, 175, 55, 0.35);
}


@media (max-width: 1024px) {
  .gallery__slider {
    height: 280px;
  }
  .gallery__slide {
    width: 70%;
  }
  .gallery__slide img {
    height: 280px;
  }
}


@media (max-width: 768px) {
  .gallery__slider {
    height: 700px;
    margin-bottom: 10px;
  }

  .gallery__slide {
    position: absolute;
    top: 25%; /* подняли с 50% на 45% */
    left: 50%;
    width: 50%;
    height: 350px;
    transform: translate(-50%, -50%) scale(0.85);
    opacity: 1;
    pointer-events: none;
    z-index: 1;
    transition: transform 0.6s ease;
  }

  .gallery__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .active {
    transform: translate(-50%, -5%) scale(1);
    z-index: 5;
    pointer-events: auto;
  }

  .prev {
    transform: translate(-50%, -30%) scale(0.9); /* подняли */
    z-index: 4;
    pointer-events: auto;
  }
  .farPrev {
    transform: translate(-50%, -60%) scale(0.85); /* подняли */
    z-index: 3;
  }
  .next {
    transform: translate(-50%, 30%) scale(0.9); /* подняли */
    z-index: 4;
    pointer-events: auto;
  }
  .farNext {
    transform: translate(-50%, 60%) scale(0.85); /* подняли */
    z-index: 3;
  }
  .hidden {
    display: none;
  }
}