/* ===== RESET (чистая база) ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT ===== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  background: #0b0b0b;
  color: #eaeaea;
  line-height: 1.5;
  overflow-x: hidden;
}

::selection {
  background: rgba(212, 175, 55, 0.24);
  color: #fff;
}

/* ===== MEDIA ===== */
img, picture, video {
  max-width: 100%;
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

svg {
  user-select: none;
  -webkit-user-select: none;
}

/* ===== LINKS ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== LISTS ===== */
ul, ol {
  list-style: none;
}

/* ===== BUTTONS ===== */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* ===== INPUT ===== */
input, textarea {
  outline: none;
  border: none;
}

/* ===== CONTAINER (как у норм сайтов) ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
